__Book: Statistics for data scientists. An introduction to probability, statistics and data analysis__.

# Chapter 1. A first look of data

For data scientists, the most important use of statistics will be making sense of data.

In [4]:
# 1.2.1 Opening the dataset
import pandas as pd 

data = pd.read_csv('face-data.csv')
print(data.head(20))
print(data.info())
print(data.describe())

    id       dim1       dim2  rating  gender             age             edu
0    1  13.024273  13.543295       5    Male  25 to 34 years     High school
1    2  24.165193  22.422261      59  Female  25 to 34 years    Some college
2    3  19.711915  22.546749       5  Female  25 to 34 years  4 year college
3    4  16.337207  13.466837      10  Female  25 to 34 years  2 year college
4    5  26.675745  27.998928      25    Male  25 to 34 years    Some college
5    6  12.020748  13.621482      75  Female  35 to 44 years    Some college
6    7  27.239526  22.297125      20  Female  18 to 24 years    Some college
7    8  15.354012  22.670553      22  Female  18 to 24 years  4 year college
8    9  20.862760  13.392131      75    Male  35 to 44 years  4 year college
9   10  23.141394  27.995712      61    Male  18 to 24 years  2 year college
10  11  13.658864  13.701379      40    Male  25 to 34 years  4 year college
11  12  27.917115  22.171373      50    Male  18 to 24 years    Some college
12  13  12.534227  22.793642      43  Female  18 to 24 years     High school
13  14  25.102683  13.319196       4  Female  45 to 54 years  4 year college
14  15  18.567041  27.990354      40  Female  25 to 34 years  2 year college
15  16  17.396300  13.782964      25  Female  55 to 64 years    Some college
16  17  25.973635  22.045039       1    Male  18 to 24 years    Some college
17  18  12.186089  22.915983      60  Female  35 to 44 years     High school
18  19  27.653294  13.248051      12  Female  18 to 24 years  4 year college
19  20  14.467088  27.982854      83    Male  25 to 34 years    Some college
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3628 entries, 0 to 3627
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      3628 non-null   int64
 1   dim1    3628 non-null   float64
 2   dim2    3628 non-null   float64
 3   rating  3628 non-null   int64
 4   gender  3628 non-null   object
 5   age     3628 non-null   object
 6   edu     3628 non-null   object
dtypes: float64(2), int64(2), object(3)
memory usage: 198.5+ KB
None